# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env
.env.local

# SQLite database (created at runtime)
server/data/*.db
server/data/*.db-journal
server/data/*.db-wal
server/data/*.db-shm

# PlatformIO
firmware/.pio/
firmware/.vscode/
firmware/.pioenvs/
firmware/.piolibdeps/

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
